# label encoding

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({"color":["red","green","blue","green","red","black"]})

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
label_encoder=LabelEncoder()

In [5]:
df_label_encoder=pd.DataFrame(label_encoder.fit_transform(df["color"]),columns=["label"])

In [6]:
pd.concat([df,df_label_encoder],axis=1)

   color  label
0    red      3
1  green      2
2   blue      1
3  green      2
4    red      3
5  black      0

# Ordinal Encoding

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
ordinal_encoder=OrdinalEncoder(categories=[["red","black","green","blue"]])

In [16]:
df_ordinal_encoder=pd.DataFrame(ordinal_encoder.fit_transform(df[["color"]]),columns=["ordinal"])

In [17]:
pd.concat([df,df_ordinal_encoder],axis=1)

   color  ordinal
0    red      0.0
1  green      2.0
2   blue      3.0
3  green      2.0
4    red      0.0
5  black      1.0

# target guided ordinal encoding

In [41]:
df=pd.DataFrame({"city":["mumbai","delhi","hyderabad","mumbai","delhi","goa"],
                "price":[20000,10000,15000,30000,12000,18000]})

In [60]:
encoder=df.groupby("city")["price"].mean()

In [61]:
encoder

city
delhi        11000.0
goa          18000.0
hyderabad    15000.0
mumbai       25000.0
Name: price, dtype: float64

In [62]:
df["encoded"]=df["city"].map(encoder)

In [63]:
df

        city  price  encoded
0     mumbai  20000  25000.0
1      delhi  10000  11000.0
2  hyderabad  15000  15000.0
3     mumbai  30000  25000.0
4      delhi  12000  11000.0
5        goa  18000  18000.0